<style>
    /* Same styles as before */
    .menupage {
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .menuitem{
        width: 325px;
        background-color: #f0f0f0;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        margin: 20px;
    }

    .menuitem img{
        width: 100%;
        height: auto;
    }

    .card-content{
        padding: 16px;
    }

    .card-content .btn-quantity-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
    }

    .card-content .btn{
        padding: 8px 16px;
        background-color: #333;
        text-decoration: none;
        border-radius: 4px;
        color: #fff;
    }

    .quantity-input input[type="number"] {
        width: 50px;
        padding: 5px;
        margin-left: 10px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>

{% extends "base.html" %}
{% load static %}

{% block headtitle %}Menu{% endblock headtitle %}

{% block content %}
<div class="menupage">
    {% for item in menu_items %}
    <div class="menuitem">
        <img src="{% static 'menuapp/images.jpeg' %}" alt="This is food item">
        <div class="card-content">
            <h3>{{item.name}}</h3>
            <h4>{{category}}</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ab enim quae iure perferendis dolor similique et porro veniam, qui doloribus consequatur provident amet fugit excepturi voluptatum repudiandae maxime id.</p>
            <form method="POST" action="{% url 'add_to_cart' item.id %}">
                {% csrf_token %}
                <div class="btn-quantity-container">
                    <button type="submit" class="btn">Add to Cart</button>
                    
                    <div class="quantity-input">
                        <label for="quantity{{ item.id }}">Quantity:</label>
                        <input type="number" id="quantity{{ item.id }}" name="quantity" value="1" min="1">
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}


<script>
    document.getElementById('myForm').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevent default form submission
        console.log('Form submitted!');  // Handle form submission logic
    });
</script>