<style>
    .orderplaced{
        background: rgba(255, 255, 255, 0.16);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
        border: 1px solid rgba(255, 255, 255, 0.32);
        width: 420px;
        color: black;
        min-height: 50vh;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .orderplaced h1{
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 10px;
        text-align: center;
    }

    .orderplaced i{
        /* margin-top: px; */
        font-size: 100px;
        color: rgb(200, 22, 2);
        display: flex;
        justify-content: center;
    }

    .orderplaced a{
        text-decoration: none;
        color: black;
        display: flex;
        margin-top: 40px;
        padding-top: 12px;
        justify-content: center;
        width: 100%;
        height: 50px;
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
</style>

{% extends "base.html" %}
{% block content %}
<div class="orderplaced">
    <h1>Order Failed to be placed</h1>
    <i class='bx bxs-x-circle'></i>
    <a href="{%url 'home'%}">Home</a>
</div>
{% endblock content %}